doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // metatextblock
    title Simple list item
    |     
    meta(name='robots', content='nofollow')
    |     
    link(rel='shortcut icon', href='https://static.tildacdn.com/img/tildafavicon.ico', type='image/x-icon')
    // Assets
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-grid-3.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://tilda.ws/project1419256/tilda-blocks-2.12.css?t=1572100641', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-animation-1.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-slds-1.4.min.css', type='text/css', media='all')
    |     
    script(src='https://static.tildacdn.com/js/jquery-1.10.2.min.js')
    |     
    script(src='https://static.tildacdn.com/js/tilda-scripts-2.8.min.js')
    |     
    script(src='https://tilda.ws/project1419256/tilda-blocks-2.7.js?t=1572100641')
    |     
    script(src='https://static.tildacdn.com/js/lazyload-1.3.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-animation-1.0.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-slds-1.4.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/hammer.min.js', charset='utf-8')
    |     
    script(type='text/javascript').
      window.dataLayer = window.dataLayer || [];
    |     
    script(type='text/javascript').
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style='margin:0;')
    // allrecords
    #allrecords.t-records(data-hook='blocks-collection-content-node', data-tilda-project-id='1419256', data-tilda-page-id='6330189', data-tilda-page-alias='simplelist', data-tilda-formskey='c71755a091199fc45bcc6680ae929656')
      #rec137486144.r.t-rec.t-rec_pt_90.t-rec_pb_90(style='padding-top:90px;padding-bottom:90px; ', data-animationappear='off', data-record-type='670')
        .t670
          .t-slds(style='visibility: hidden;')
            .t-container.t-slds__main
              .t-slds__container.t-width.t-width_9.t-margin_auto
                .t-slds__items-wrapper.t-slds_animated-none.t-slds__witharrows(data-slider-transition='300', data-slider-with-cycle='true', data-slider-correct-height='true', data-auto-correct-mobile-width='false', data-slider-arrows-nearpic='yes')
                  .t-slds__item.t-slds__item_active(data-slide-index='1')
                    .t-width.t-width_9.t-margin_auto(itemscope='', itemtype='http://schema.org/ImageObject')
                      .t-slds__wrapper.t-align_center
                        meta(itemprop='image', content=user.info.front)
                        |                                             
                        .t670__imgwrapper(bgimgfield='gi_img__0')
                          //.t-slds__bgimg.t-bgimg(data-original=user.info.front, style="background-image: url('user.info.front');")
                          |                                                 
                          .t670__separator(data-slider-image-width='860', data-slider-image-height='550')
                  |                                 
                  .t-slds__item(data-slide-index='2')
                    .t-width.t-width_9.t-margin_auto(itemscope='', itemtype='http://schema.org/ImageObject')
                      .t-slds__wrapper.t-align_center
                        meta(itemprop='image', content='https://static.tildacdn.com/tild6637-6131-4438-a662-626134663032/cherrylaithang138648.jpg')
                        |                                             
                        .t670__imgwrapper(bgimgfield='gi_img__1')
                          .t-slds__bgimg.t-bgimg(data-original='https://static.tildacdn.com/tild6637-6131-4438-a662-626134663032/cherrylaithang138648.jpg', style="background-image: url('https://static.tildacdn.com/tild6637-6131-4438-a662-626134663032/-/resizeb/20x/cherrylaithang138648.jpg');")
                          |                                                 
                          .t670__separator(data-slider-image-width='860', data-slider-image-height='550')
                  |                                 
                  .t-slds__item(data-slide-index='3')
                    .t-width.t-width_9.t-margin_auto(itemscope='', itemtype='http://schema.org/ImageObject')
                      .t-slds__wrapper.t-align_center
                        meta(itemprop='image', content='https://static.tildacdn.com/tild3966-3235-4563-b465-373632393036/chrisbarbalis223997.jpg')
                        |                                             
                        .t670__imgwrapper(bgimgfield='gi_img__2')
                          .t-slds__bgimg.t-bgimg(data-original='https://static.tildacdn.com/tild3966-3235-4563-b465-373632393036/chrisbarbalis223997.jpg', style="background-image: url('https://static.tildacdn.com/tild3966-3235-4563-b465-373632393036/-/resizeb/20x/chrisbarbalis223997.jpg');")
                          |                                                 
                          .t670__separator(data-slider-image-width='860', data-slider-image-height='550')
                  |                                 
                  //.t-slds__item(data-slide-index='4')
                    .t-width.t-width_9.t-margin_auto(itemscope='', itemtype='http://schema.org/ImageObject')
                      .t-slds__wrapper.t-align_center
                        meta(itemprop='image', content='https://static.tildacdn.com/tild3432-3430-4661-b861-633639383164/samuelzeller168234.jpg')
                        |                                             
                        .t670__imgwrapper(bgimgfield='gi_img__3')
                          .t-slds__bgimg.t-bgimg(data-original='https://static.tildacdn.com/tild3432-3430-4661-b861-633639383164/samuelzeller168234.jpg', style="background-image: url('https://static.tildacdn.com/tild3432-3430-4661-b861-633639383164/-/resizeb/20x/samuelzeller168234.jpg');")
                          |                                                 
                          .t670__separator(data-slider-image-width='860', data-slider-image-height='550')
              |                         
              .t-slds__arrow_container.t-slds__arrow_container-outside
                .t-slds__arrow_wrapper.t-slds__arrow_wrapper-left(data-slide-direction='left')
                  .t-slds__arrow.t-slds__arrow-left.t-slds__arrow-withbg(style='width: 40px; height: 40px;background-color: rgba(232,232,232,1);')
                    .t-slds__arrow_body.t-slds__arrow_body-left(style='width: 9px;')
                      svg(style='display: block', viewBox='0 0 9.3 17', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        desc Left
                        |                                             
                        polyline(fill='none', stroke='#000000', stroke-linejoin='butt', stroke-linecap='butt', stroke-width='1', points='0.5,0.5 8.5,8.5 0.5,16.5')
                |                             
                .t-slds__arrow_wrapper.t-slds__arrow_wrapper-right(data-slide-direction='right')
                  .t-slds__arrow.t-slds__arrow-right.t-slds__arrow-withbg(style='width: 40px; height: 40px;background-color: rgba(232,232,232,1);')
                    .t-slds__arrow_body.t-slds__arrow_body-right(style='width: 9px;')
                      svg(style='display: block', viewBox='0 0 9.3 17', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        desc Right
                        |                                             
                        polyline(fill='none', stroke='#000000', stroke-linejoin='butt', stroke-linecap='butt', stroke-width='1', points='0.5,0.5 8.5,8.5 0.5,16.5')
              |                         
              .t-slds__bullet_wrapper
                .t-slds__bullet.t-slds__bullet_active(data-slide-bullet-for='1')
                  .t-slds__bullet_body(style='background-color: #c7c7c7;')
                |                             
                .t-slds__bullet(data-slide-bullet-for='2')
                  .t-slds__bullet_body(style='background-color: #c7c7c7;')
                |                             
                .t-slds__bullet(data-slide-bullet-for='3')
                  .t-slds__bullet_body(style='background-color: #c7c7c7;')
                |                             
                //.t-slds__bullet(data-slide-bullet-for='4')
                  .t-slds__bullet_body(style='background-color: #c7c7c7;')
              |                         
              .t-slds__caption__container  
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t670_init('137486144');
          t_sldsInit('137486144');
          });
          $('.t670').bind('displayChanged', function() {
          t_slds_updateSlider('137486144');
          t_slds_positionArrows('137486144');
          });
        |             
        style(type='text/css').
          #rec137486144 .t-slds__bullet_active .t-slds__bullet_body {
          background-color: #222 !important;
          }
          #rec137486144 .t-slds__bullet:hover .t-slds__bullet_body {
          background-color: #222 !important;
          }
    // /allrecords
    // Tilda copyright. Don't remove this line
    #tildacopy.t-tildalabel.t-tildalabel-free(data-tilda-sign='1419256#6330189')
      .t-tildalabel-free__main
        a(href='https://tilda.cc/?upm=1419256', target='_blank', style='padding-bottom:12px; display: block;')
          img(style='width:40px;', src='https://static.tildacdn.com/img/tildacopy.png')
        |             
        div(style='padding-bottom: 15px;')
          | This site was made on 
          a(href='https://tilda.cc/?upm=1419256', target='_blank', style='text-decoration: none; color:inherit;') Tilda &mdash; a website builder
          |  that helps to&nbsp;create a&nbsp;website without any code
        a(href='https://tilda.cc/registration/', target='_blank', style='display: inline-block; padding: 10px 20px; font-size: 13px; border-radius: 50px; background-color: #fff; color:#000; text-decoration: none;') Create a website
      |         
      .t-tildalabel-free__links-wr
        a.t-tildalabel-free__txt-link(href='http://help.tilda.ws/white-label', target='_blank') How to remove this block?
        a.t-tildalabel-free__txt-link(href='https://tilda.cc/?upm=1419256', target='_blank') About platform
        a.t-tildalabel-free__txt-link(href='https://tilda.cc/abuse/', target='_blank') Submit a complaint
    // Stat
    script(type='text/javascript').
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, 'd22cbffae3a3cd388f2a6d5e68166cf3', 'script', 'https://stat.tildacdn.com/js/tildasimplestat-0.1.min.js');
