doctype html
html(lang='en')
  head
    title Polymorphic blog
    | &#x9;
    meta(charset='UTF-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // ===============================================================================================
    link(rel='icon', type='image/png', href='/newdeleteProject/images/icons/favicon.ico')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/bootstrap/css/bootstrap.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/animate/animate.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/css-hamburgers/hamburgers.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/animsition/css/animsition.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/select2/select2.min.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/vendor/daterangepicker/daterangepicker.css')
    // ===============================================================================================
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/css/util.css')
    | &#x9;
    link(rel='stylesheet', type='text/css', href='/newdeleteProject/css/main.css')
    // ===============================================================================================
    link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet")
  body()
    .container-contact100()
      .wrap-contact100
        form.contact100-form.validate-form(action = '/user/requestAdmin' method = 'POST' )
          span.contact100-form-title(style="font-family: 'Montserrat', sans-serif;")
            |Yêu cầu mở mặt hàng
          | &#x9;&#x9;&#x9;&#x9;
          .wrap-input100.validate-input(style="font-family: 'Montserrat', sans-serif;")
            span.label-input100 Email
            input.input100(style="font-family: 'Montserrat', sans-serif;",type='email', name='email', placeholder='xyz@abc.com' required)
          .wrap-input100.validate-input
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Số điện thoại
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            input.input100(type='text', name='phone', placeholder='0*********' required)
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.focus-input100
          .wrap-input100.input100-select
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Yêu cầu
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            div
              select.selection-2(style="font-family: 'Montserrat', sans-serif;" ,name='type')
                option Thực phẩm
                option Trang trí
                option Thời trang
                option Thiết bị điện tử
                option Khác
          .wrap-input100.validate-input()
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Tên mặt hàng
            input.input100(style="font-family: 'Montserrat', sans-serif;" ,type='text', name='nameItem', placeholder='' required)
            span.focus-input100
          .wrap-input100.validate-input()
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Giá
            textarea.input100(style="font-family: 'Montserrat', sans-serif;",name='priceItem', placeholder='VNĐ' required)
            span.focus-input100
          .wrap-input100.validate-input()
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Mô tả
            textarea.input100(style="font-family: 'Montserrat', sans-serif;",name='desItem', placeholder='Mô tả' required)
            span.focus-input100
          .wrap-input100.validate-input
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Link ảnh sản phẩm
            input.input100(style="font-family: 'Montserrat', sans-serif;" ,type='text', name='imgItem', placeholder='Dùng LINK ẢNH, không phải là link bài viết' required)
            span.focus-input100
          .wrap-input100.validate-input()
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Hạn cuối nhận giao hàng / nhận mua
            input.input100(style="font-family: 'Montserrat', sans-serif;",type='text', name='dateItem', placeholder='Ví dụ : vào lúc 17h59 ngày 30/4/2020' required)
            span.focus-input100
          .wrap-input100.validate-input()
            span.label-input100(style="font-family: 'Montserrat', sans-serif;") Password
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            input.input100(style="font-family: 'Montserrat', sans-serif;" ,type='password', name='pass', placeholder='Nhập mật khẩu để xác nhận ' required)
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            span.focus-input100
          | &#x9;&#x9;&#x9;&#x9;
          .container-contact100-form-btn
            .wrap-contact100-form-btn
              .contact100-form-bgbtn
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              button.contact100-form-btn(onclick='sendData()')
                span(style="font-family: 'Montserrat', sans-serif;")
                  | Submit
    | &#x9;
    #dropDownSelect1
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/bootstrap/js/popper.js')
    | &#x9;
    script(src='/newdeleteProject/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/select2/select2.min.js')
    | &#x9;
    script.
      $(".selection-2").select2({
      minimumResultsForSearch: 20,
      dropdownParent: $('#dropDownSelect1')
      });
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/daterangepicker/moment.min.js')
    | &#x9;
    script(src='/newdeleteProject/vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='/newdeleteProject/vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='/newdeleteProject/js/main.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-23581568-13')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
    script(src ='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js') 
    script(src = '/socket.io/socket.io.js') 
    script.
      /*$(document).ready(function(){
        var socket = io.connect('http://localhost') ;
        var sendData = function(){
            let email = document.getElementById('email').value() ; 
            let phone = document.getElementById('phone').value() ; 
            let type = document.getElementById('type').value() ; 
            let nameItem = document.getElementById('nameItem').value() ; 
            let desItem = document.getElementById('desItem').value() ; 
            let imgItem = document.getElementById('imgItem').value() ; 
            let dateItem = document.getElementById('dateItem').value() ; 
            let passsword = document.getElementById('password').value() ;
            socket.emit('requestAdmin',{email,phone,type,nameItem,desItem,imgItem,dateItem,password}) ;  
        }
        
      }) ;*/ 
