doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // metatextblock
    title user dashboard
    |     
    meta(name='description', content='A template for a tattoo studio homepage.')
    |     
    meta(property='og:url', content='http://ngangbanggg.tilda.ws/userdashboard')
    |     
    meta(property='og:title', content='user dashboard')
    |     
    meta(property='og:description', content='A template for a tattoo studio homepage.')
    |     
    meta(property='og:type', content='website')
    |     
    meta(property='og:image', content='https://static.tildacdn.com/tild3033-3066-4063-b265-373365303461/-/resize/504x/60354987_24814611052.jpg')
    |     
    link(rel='canonical', href='http://ngangbanggg.tilda.ws/userdashboard')
    // /metatextblock
    meta(property='fb:app_id', content='257953674358265')
    |     
    meta(name='format-detection', content='telephone=no')
    |     
    meta(http-equiv='x-dns-prefetch-control', content='on')
    |     
    link(rel='dns-prefetch', href='https://tilda.ws')
    |     
    link(rel='dns-prefetch', href='https://static.tildacdn.com')
    |     
    link(rel='shortcut icon', href='https://static.tildacdn.com/img/tildafavicon.ico', type='image/x-icon')
    // Assets
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-grid-3.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://tilda.ws/project1201204/tilda-blocks-2.12.css?t=1559787528', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-animation-1.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', type='text/css')
    |     
    script(src='https://static.tildacdn.com/js/jquery-1.10.2.min.js')
    |     
    script(src='https://static.tildacdn.com/js/tilda-scripts-2.8.min.js')
    |     
    script(src='https://tilda.ws/project1201204/tilda-blocks-2.7.js?t=1559787528')
    |     
    script(src='https://static.tildacdn.com/js/lazyload-1.3.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-animation-1.0.min.js', charset='utf-8')
    |     
    script(type='text/javascript').
      window.dataLayer = window.dataLayer || [];
    |     
    script(type='text/javascript').
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style='margin:0;')
    // allrecords
    #allrecords.t-records(data-hook='blocks-collection-content-node', data-tilda-project-id='1201204', data-tilda-page-id='6015551', data-tilda-page-alias='userdashboard', data-tilda-formskey='7f8599e8e0f061753832190c5962ec5c')
      #rec107157258.r.t-rec.t-rec_pb_0(style='padding-bottom:0px; ', data-animationappear='off', data-record-type='257')
        // T228
        #nav107157258marker
        |             
        .t228__mobile
          .t228__mobile_container
            .t228__mobile_text.t-name.t-name_md(field='text') &nbsp;
            |                     
            .t228__burger
              span
              |  
              span
              |  
              span
              |  
              span
        |             
        #nav107157258.t228.t228__hidden.t228__positionfixed(style='background-color: rgba(255,167,66,0.0); height:95px; ', data-bgcolor-hex='#ffa742', data-bgcolor-rgba='rgba(255,167,66,0.0)', data-navmarker='nav107157258marker', data-appearoffset='', data-bgopacity-two='50', data-menushadow='', data-bgopacity='0.0', data-bgcolor-rgba-afterscroll='rgba(255,167,66,0.50)', data-menu-items-align='center', data-menu='yes')
          .t228__maincontainer(style='height:95px;')
            .t228__padding40px
            |                     
            .t228__leftside
              .t228__leftcontainer
                a(href='/', style='color:#ffffff;font-weight:700;')
                  .t228__logo.t-title(field='title', style='color:#ffffff;font-weight:700;') School Market
            |                     
            .t228__centerside
              .t228__centercontainer
                ul.t228__list.t228__list_hidden
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec107157271', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='1') Ch&#x1EDD; duy&#x1EC7;t
                  |                                 
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec108810795', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='2') &Dstrok;ang b&aacute;n
                  |                                 
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec108821496', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='3') &Dstrok;&#x1A1;n h&agrave;ng
                  |                                 
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec108878678', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='4') L&#x1ECB;ch s&#x1EED;
                  |                                 
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec108668716', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='5') Y&ecirc;u c&#x1EA7;u 
                  |                                 
                  li.t228__list_item
                    a.t-menu__link-item(href='#rec108819092', style='color:#ffffff;font-size:14px;font-weight:600;text-transform:uppercase;', data-menu-item-number='6') Ch&#x1EE3;
            |                     
            .t228__rightside  
            |                     
            .t228__padding40px
        |             
        style.
          @media screen and (max-width: 980px) {
          #rec107157258 .t228__leftcontainer {
          padding: 20px;
          }
          }
          @media screen and (max-width: 980px) {
          #rec107157258 .t228__imglogo {
          padding: 20px 0;
          }
          }
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t228_highlight();
          t228_checkAnchorLinks('107157258');
          });
          $(window).resize(function() {
          t228_setWidth('107157258');
          });
          $(window).load(function() {
          t228_setWidth('107157258');
          });
          $(document).ready(function() {
          t228_setWidth('107157258');
          });
          $(window).resize(function() {
          t228_setBg('107157258');
          });
          $(document).ready(function() {
          t228_setBg('107157258');
          });
          $(document).ready(function() {
          t228_changebgopacitymenu('107157258');
          $(window).bind('scroll', t_throttle(function() {
          t228_changebgopacitymenu('107157258')
          }, 200));
          });
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t228_createMobileMenu('107157258');
          });
        //if IE 8
          style.
            #rec107157258 .t228 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffa742', endColorstr='#D9ffa742');
            }
      |         
      #rec107157259.r.t-rec.t-rec_pt_0.t-rec_pb_0(style='padding-top:0px;padding-bottom:0px; ', data-animationappear='off', data-record-type='205')
        // cover
        #recorddiv107157259.t-cover(bgimgfield='img', style="height:100vh; background-image:url('https://static.tildacdn.com/tild3033-3066-4063-b265-373365303461/-/resize/20x/60354987_24814611052.jpg');")
          #coverCarry107157259.t-cover__carrier(data-content-cover-id='107157259', data-content-cover-bg='https://static.tildacdn.com/tild3033-3066-4063-b265-373365303461/60354987_24814611052.jpg', data-content-cover-height='100vh', data-content-cover-parallax='dynamic', style='height:100vh;background-attachment:scroll; ')
          |                 
          .t-cover__filter(style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));background-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));background-image: -o-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));background-image: -ms-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));background-image: linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,1));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00000000', endColorstr='#00000000');")
          |                 
          .t-container
            .t-width.t-width_8(style='margin:0 auto;')
              .t-cover__wrapper.t-valign_middle(style='height:100vh; position: relative;z-index:1;')
                .t182
                  div(data-hook-content='covercontent')
                    .t182__wrapper
                      .t182__title.t-title.t-title_xl.t-animate(data-animate-style='fadeinup', data-animate-group='yes', style='', field='title') B&#x1EA3;ng &dstrok;i&#x1EC1;u khi&#x1EC3;n
                      |                                         
                      .t182__descr.t-descr.t-descr_lg.t-animate(data-animate-style='fadeinup', data-animate-group='yes', style='opacity:1;', field='descr') Ch&agrave;o m&#x1EEB;ng tr&#x1EDF; l&#x1EA1;i, #{user.name}
                      |                                         
                      .t182__buttons
                        a.t-btn.t-animate(href='#book', target='', data-btneffects-first='btneffects-ripple', data-animate-style='fadeindown', data-animate-group='yes', style='color:#ffffff;background-color:#ffa742;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;')
                          table(style='width:100%; height:100%;')
                            tbody
                              tr
                                td Profile
          // arrow
          .t-cover__arrow
            .t-cover__arrow-wrapper.t-cover__arrow-wrapper_animated
              .t-cover__arrow_mobile
                svg.t-cover__arrow-svg(style='fill:#ffffff;', x='0px', y='0px', width='38.417px', height='18.592px', viewBox='0 0 38.417 18.592')
                  g
                    path(d='M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z')
          // arrow
        |             
        style.
          #rec107157259 .t-btn[data-btneffects-first],
          #rec107157259 .t-btn[data-btneffects-second],
          #rec107157259 .t-submit[data-btneffects-first],
          #rec107157259 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec107157259 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects,
          #rec107157259 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          }
          #rec107157259 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after,
          #rec107157259 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after {
          content: '';
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec107157259 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after,
          #rec107157259 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after {
          left: -130%;
          }
          #rec107157259 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after,
          #rec107157259 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after {
          left: -150%;
          }
          @-webkit-keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          @keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          #rec107157259 .t-btn[data-btneffects-second="btneffects-ripple"] .t-btn_effects,
          #rec107157259 .t-submit[data-btneffects-second="btneffects-ripple"] .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          }
          #rec107157259 .t-btn[data-btneffects-second="btneffects-ripple"] .t-btn_effects::after,
          #rec107157259 .t-submit[data-btneffects-second="btneffects-ripple"] .t-btn_effects::after {
          content: '';
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec107157259 .t-btn[data-btneffects-second="btneffects-ripple"] .t-btn_effects_md::after,
          #rec107157259 .t-submit[data-btneffects-second="btneffects-ripple"] .t-btn_effects_md::after {
          left: -130%;
          }
          #rec107157259 .t-btn[data-btneffects-second="btneffects-ripple"] .t-btn_effects_lg::after,
          #rec107157259 .t-submit[data-btneffects-second="btneffects-ripple"] .t-btn_effects_lg::after {
          left: -150%;
          }
          @-webkit-keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          @keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          $('#rec107157259 .t-btn[data-btneffects-first], #rec107157259 .t-submit[data-btneffects-first]').append('<div class="t-btn_effects"></div>');
          if ($('#rec107157259 .t-btn[data-btneffects-first], #rec107157259 .t-submit').outerWidth() > 260) {
          $('#rec107157259 .t-btn[data-btneffects-first] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_md');
          }
          if ($('#rec107157259 .t-btn[data-btneffects-first], #rec107157259 .t-submit').outerWidth() > 360) {
          $('#rec107157259 .t-btn[data-btneffects-first] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-first] .t-btn_effects').removeClass('t-btn_effects_md');
          $('#rec107157259 .t-btn[data-btneffects-first] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_lg');
          }
          $('#rec107157259 .t-btn[data-btneffects-second], #rec107157259 .t-submit[data-btneffects-second]').append('<div class="t-btn_effects"></div>');
          if ($('#rec107157259 .t-btn[data-btneffects-second], #rec107157259 .t-submit[data-btneffects-second]').outerWidth() > 260) {
          $('#rec107157259 .t-btn[data-btneffects-second] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-second] .t-btn_effects').addClass('t-btn_effects_md');
          }
          if ($('#rec107157259 .t-btn[data-btneffects-second], #rec107157259 .t-submit[data-btneffects-second]').outerWidth() > 360) {
          $('#rec107157259 .t-btn[data-btneffects-second] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-second] .t-btn_effects').removeClass('t-btn_effects_md');
          $('#rec107157259 .t-btn[data-btneffects-second] .t-btn_effects, #rec107157259 .t-submit[data-btneffects-second] .t-btn_effects').addClass('t-btn_effects_lg');
          }
          });
        |             
        style.
          #rec107157259 .t-btn:not(.t-animate_no-hover):hover {
          background-color: #ff0000 !important;
          }
          #rec107157259 .t-btn:not(.t-animate_no-hover) {
          -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          }
      |         
      #rec107157271.r.t-rec.t-rec_pt_150.t-rec_pb_30(style='padding-top:150px;padding-bottom:30px; ', data-record-type='30')
        // T015
        .t015
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t015__title.t-title.t-title_lg.t-animate(data-animate-style='fadeinup', data-animate-group='yes', field='title', style='color:#ffa742;font-size:42px;')
                | Danh s&aacute;ch m&#x1EB7;t h&agrave;ng
                br
                | &dstrok;ang ch&#x1EDD; duy&#x1EC7;t
      |         
      #rec107157272.r.t-rec.t-rec_pt_0.t-rec_pb_165(style='padding-top:0px;padding-bottom:165px; ', data-animationappear='off', data-record-type='585')
        // T585
        .t585
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t585__accordion.t-animate(data-animate-style='fadeinleft', data-animate-chain='yes')
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611044356', style='') Cookie
                    |                                     
                    .t585__icon
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#000000')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: transparent;')
                    |                                     
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#ffffff')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: #ff2f00')
                  |                                 
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611044356', src='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/-/empty/CYhSSvH.jpg', data-original='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/CYhSSvH.jpg', "='')
                      |  
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611044356 ', style=' ')
                        | Gi&aacute; : 10000 &dstrok;&#x1ED3;ng, s&#x1EC9; l&agrave; 8000 &dstrok;&#x1ED3;ng /10 c&aacute;i
                        br
                        | .......................
                        br
                        | N&uacute;t hu&#x1EF7; y&ecirc;u c&#x1EA7;u
                        br
                        | (&Dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng b&#x1EDF;i : user123)
                        br
                        | (N&uacute;t duy&#x1EC7;t 
                        br
                        | N&uacute;t xo&aacute;, l&#x1B0;u l&#x1EA1;i &#x1EDF; ch&#x1ED7; &dstrok;&atilde; xo&aacute;)
            |  
            .t-col.t-col_8.t-prefix_2
              .t585__accordion.t-animate(data-animate-style='fadeinleft ', data-animate-chain='yes ')
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000 ')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611048442 ', style=' ') Chocolate
                    |  
                    .t585__icon
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#000000 ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: transparent; ')
                    |  
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#ffffff ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: #ff2f00 ')
                  |  
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611048442 ', src='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/-/empty/60330989_24814627452.jpg ', data-original='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/60330989_24814627452.jpg ', "='')
                      |                                         
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611048442', style='')
                        | 15000 &dstrok;&#x1ED3;ng / g&oacute;i
                        br
                        | &Dstrok;&#x1B0;&#x1EE3;c &dstrok;&abreve;ng b&#x1EDF;i : user123
                        |                                             
                        br
              |                         
              .t585__border(style='height: 1px; background-color: #000000')
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t585_init('107157272');
          });
      |         
      #rec108816374.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec108810795.r.t-rec.t-rec_pt_150.t-rec_pb_30(style='padding-top:150px;padding-bottom:30px; ', data-record-type='30')
        // T015
        .t015
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t015__title.t-title.t-title_lg.t-animate(data-animate-style='fadeinright', data-animate-group='yes', field='title', style='color:#ffa742;font-size:42px;')
                | Danh s&aacute;ch m&#x1EB7;t h&agrave;ng
                br
                | &dstrok;ang b&aacute;n
      |         
      #rec108810814.r.t-rec.t-rec_pt_0.t-rec_pb_165(style='padding-top:0px;padding-bottom:165px; ', data-animationappear='off', data-record-type='585')
        // T585
        .t585
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t585__accordion
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611044356', style='') Ph&#x1EA5;n 
                    |                                     
                    .t585__icon
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#000000')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: transparent;')
                    |                                     
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#ffffff')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: #ff2f00')
                  |                                 
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611044356', src='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/-/empty/CYhSSvH.jpg', data-original='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/CYhSSvH.jpg', "='')
                      |  
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611044356 ', style=' ')
                        | Gi&aacute; : 50k 
                        br
                        | H&#x1EA1;n cu&#x1ED1;i giao h&agrave;ng
                        br
                        | M&#x1ED9;t n&uacute;t thay &dstrok;&#x1ED5;i, m&#x1ED9;t n&uacute;t g&#x1EE1;
            |  
            .t-col.t-col_8.t-prefix_2
              .t585__accordion
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000 ')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611048442 ', style=' ')
                      | B&uacute;t ch&igrave;
                      br
                    |  
                    .t585__icon
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#000000 ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: transparent; ')
                    |  
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#ffffff ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: #ff2f00 ')
                  |  
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611048442 ', src='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/-/empty/60330989_24814627452.jpg ', data-original='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/60330989_24814627452.jpg ', "='')
                      |                                         
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611048442', style='')
                        | Gi&aacute; 250k
                        br
                        |                                             
                        br
              |                         
              .t585__border(style='height: 1px; background-color: #000000')
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t585_init('108810814');
          });
      |         
      #rec108821407.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec108821496.r.t-rec.t-rec_pt_150.t-rec_pb_30(style='padding-top:150px;padding-bottom:30px; ', data-record-type='30')
        // T015
        .t015
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t015__title.t-title.t-title_lg.t-animate(data-animate-style='fadeinup', data-animate-group='yes', field='title', style='color:#ffa742;font-size:42px;')
                | Danh s&aacute;ch &dstrok;&#x1A1;n h&agrave;ng
                br
                | ch&#x1ECD;n ch&#x1EA5;p thu&#x1EAD;n v&agrave; giao ho&#x1EB7;c kh&ocirc;ng
      |         
      #rec108821837.r.t-rec.t-rec_pt_0.t-rec_pb_165(style='padding-top:0px;padding-bottom:165px; ', data-animationappear='off', data-record-type='585')
        // T585
        .t585
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t585__accordion
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611044356', style='') Ph&#x1EA5;n 
                    |                                     
                    .t585__icon
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#000000')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: transparent;')
                    |                                     
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px', height='24px', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                          g(stroke='none', stroke-width='1px', fill='none', fill-rule='evenodd', stroke-linecap='square')
                            g(transform='translate(1.000000, 1.000000)', stroke='#ffffff')
                              path(d='M0,11 L22,11')
                              |                                                         
                              path(d='M11,0 L11,22')
                      |                                         
                      .t585__circle(style='background-color: #ff2f00')
                  |                                 
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611044356', src='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/-/empty/CYhSSvH.jpg', data-original='https://static.tildacdn.com/tild3165-3965-4639-b833-663538613434/CYhSSvH.jpg', "='')
                      |  
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611044356 ', style=' ')
                        | Gi&aacute; : 50k 
                        br
                        | S&#x1ED1; l&#x1B0;&#x1EE3;ng mua : 
                        br
                        | th&#x1EDD;i gian mong mu&#x1ED1;n
                        br
                        | m&#x1ED9;t ch&#x1EA5;p thu&#x1EAD;n, m&#x1ED9;t g&#x1EE1;
            |  
            .t-col.t-col_8.t-prefix_2
              .t585__accordion
                .t585__wrapper
                  .t585__header(style=' border-top: 1px solid #000000 ')
                    .t585__title.t-name.t-name_xl(field='li_title__1480611048442 ', style=' ')
                      | B&uacute;t ch&igrave;
                      br
                    |  
                    .t585__icon
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#000000 ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: transparent; ')
                    |  
                    .t585__icon.t585__icon-hover
                      .t585__lines
                        svg(width='24px ', height='24px ', viewBox='0 0 24 24 ', xmlns='http://www.w3.org/2000/svg ', xmlns:xlink='http://www.w3.org/1999/xlink ')
                          g(stroke='none ', stroke-width='1px ', fill='none ', fill-rule='evenodd ', stroke-linecap='square ')
                            g(transform='translate(1.000000, 1.000000) ', stroke='#ffffff ')
                              path(d='M0,11 L22,11 ')
                              |  
                              path(d='M11,0 L11,22 ')
                      |  
                      .t585__circle(style='background-color: #ff2f00 ')
                  |  
                  .t585__content
                    .t585__textwrapper
                      img.t585__img.t-img(imgfield='li_img__1480611048442 ', src='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/-/empty/60330989_24814627452.jpg ', data-original='https://static.tildacdn.com/tild3237-3766-4630-a132-636262376265/60330989_24814627452.jpg ', "='')
                      |                                         
                      .t585__text.t-descr.t-descr_xs(field='li_descr__1480611048442', style='')
                        | Gi&aacute; : 50k
                        br
                        | S&#x1ED1; l&#x1B0;&#x1EE3;ng mua :
                        |                                             
                        br
                        | th&#x1EDD;i gian mong mu&#x1ED1;n
                        |                                             
                        br
                        | m&#x1ED9;t ch&#x1EA5;p thu&#x1EAD;n, m&#x1ED9;t g&#x1EE1;
                        |                                             
                        br
              |                         
              .t585__border(style='height: 1px; background-color: #000000')
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t585_init('108821837');
          });
      |         
      #rec108816338.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec108878678.r.t-rec.t-rec_pt_150.t-rec_pb_75(style='padding-top:150px;padding-bottom:75px; ', data-record-type='513')
        // T513
        .t513
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style='fadeinup', data-animate-group='yes', field='btitle')
                  div(style='color:#ffa742;', data-customstyle='yes') L&#x1ECB;ch s&#x1EED; giao d&#x1ECB;ch
                |                             
                .t-section__descr.t-descr.t-descr_xl.t-margin_auto.t-animate(data-animate-style='fadeinleft', data-animate-group='yes', field='bdescr') B&#x1EA5;m n&uacute;t ph&iacute;a d&#x1B0;&#x1EDB;i &dstrok;&#x1EC3; xem th&ecirc;m
          |                 
          .t-container
            .t513__linewrapper.t-col.t-col_8.t-prefix_1.t-animate(data-animate-style='fadein', data-animate-chain='yes')
              .t513__line(style='background-color: #ffa742; opacity:0.70;')
            |                     
            .t513__row.t-row.t-clear.t-animate(data-animate-style='fadein', data-animate-chain='yes')
              .t513__leftcol.t-col.t-col_3.t-prefix_1
                .t513__time.t-name.t-name_md(style='', field='li_time__1477061802947') 19:20 , 10/12/2019
              |                         
              .t513__rightcol.t-col.t-col_4.t-prefix_1
                .t513__title.t-heading.t-heading_xs.t513__bottommargin(style='color:#ffa742;', field='li_title__1477061802947') &Dstrok;&atilde; mua
                |                             
                .t513__personwrapper.t513__bottommargin
                  .t513__persontextwrapper
                    .t513__persname.t-descr.t-descr_sm(style='', field='li_persname__1477061802947')
                      | T&#x1EEB; :
                      br
                      |  Nguy&#x1EC5;n V&abreve;n A
                      |                                         
                      br
                      | 12 Tin
                |                             
                .t513__text.t-text.t-text_sm(style='', field='li_text__1477061802947')
                  | T&ecirc;n h&agrave;ng : C&#x1A1;m
                  br
                  | S&#x1ED1; l&#x1B0;&#x1EE3;ng : 10
            |                     
            .t513__linewrapper.t-col.t-col_8.t-prefix_1.t-animate(data-animate-style='fadein', data-animate-chain='yes')
              .t513__line(style='background-color: #ffa742; opacity:0.70;')
      |         
      #rec108878898.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px;background-color:#ffffff; ', data-record-type='400', data-bg-color='#ffffff')
        // T400
        .t400
          .t-container_100
            .t400__wrapone
              .t400__wraptwo
                .t-btn.t400__submit.t-animate(data-hidden-rec-ids='', data-animate-style='fadein', data-animate-group='yes', data-btneffects-first='btneffects-ripple', style='color:#ffffff;border:3px solid #ffffff;background-color:#ffa742;') Hi&#x1EC3;n th&#x1ECB; th&ecirc;m
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t400_init('108878898');
          });
        |             
        style.
          #rec108878898 .t-btn[data-btneffects-first],
          #rec108878898 .t-btn[data-btneffects-second],
          #rec108878898 .t-submit[data-btneffects-first],
          #rec108878898 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec108878898 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects,
          #rec108878898 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          }
          #rec108878898 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after,
          #rec108878898 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after {
          content: '';
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec108878898 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after,
          #rec108878898 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after {
          left: -130%;
          }
          #rec108878898 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after,
          #rec108878898 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after {
          left: -150%;
          }
          @-webkit-keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          @keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          $('#rec108878898 .t-btn[data-btneffects-first], #rec108878898 .t-submit[data-btneffects-first]').append('<div class="t-btn_effects"></div>');
          if ($('#rec108878898 .t-btn[data-btneffects-first], #rec108878898 .t-submit').outerWidth() > 260) {
          $('#rec108878898 .t-btn[data-btneffects-first] .t-btn_effects, #rec108878898 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_md');
          }
          if ($('#rec108878898 .t-btn[data-btneffects-first], #rec108878898 .t-submit').outerWidth() > 360) {
          $('#rec108878898 .t-btn[data-btneffects-first] .t-btn_effects, #rec108878898 .t-submit[data-btneffects-first] .t-btn_effects').removeClass('t-btn_effects_md');
          $('#rec108878898 .t-btn[data-btneffects-first] .t-btn_effects, #rec108878898 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_lg');
          }
          });
      |         
      #rec108816855.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec108819092.r.t-rec.t-rec_pt_135.t-rec_pb_135(style='padding-top:135px;padding-bottom:135px;background-color:#ffffff; ', data-record-type='467', data-bg-color='#ffffff')
        // T467
        .t467
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t467__title.t-title.t-title_lg.t-margin_auto.t-animate(data-animate-style='fadein', data-animate-group='yes', field='title', style='color:#ffa742;') Ch&#x1EE3;
              |                         
              .t467__descr.t-descr.t-descr_xl.t-margin_auto.t-animate(data-animate-style='fadeindown', data-animate-group='yes', field='descr', style='color:#000000;') Tr&#x1EDD; th&agrave;nh kh&aacute;ch h&agrave;ng ho&#x1EB7;c nh&agrave; kinh doanh
              |                         
              a.t-btn.t-animate(href='/', target='', data-animate-style='fadeinup', data-animate-group='yes', style='color:#ffffff;border:3px solid #ffffff;background-color:#ffa742;')
                table(style='width:100%; height:100%;')
                  tbody
                    tr
                      td Truy c&#x1EAD;p
      |         
      #rec108816865.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec108668716.r.t-rec.t-rec_pt_135.t-rec_pb_135(style='padding-top:135px;padding-bottom:135px;background-color:#ffffff; ', data-record-type='467', data-bg-color='#ffffff')
        // T467
        .t467
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t467__title.t-title.t-title_lg.t-margin_auto(field='title', style='color:#ffa742;') Y&ecirc;u c&#x1EA7;u m&#x1EDB;i
              |                         
              .t467__descr.t-descr.t-descr_xl.t-margin_auto(field='descr', style='color:#000000;') G&#x1EED;i y&ecirc;u c&#x1EA7;u m&#x1EDF; m&#x1EB7;t h&agrave;ng m&#x1EDB;i cho admin duy&#x1EC7;t
              |                         
              a.t-btn(href='/user/formRequestAdmin', target='', style='color:#ffffff;border:3px solid #ffffff;background-color:#ffa742;')
                table(style='width:100%; height:100%;')
                  tbody
                    tr
                      td B&#x1EA5;m v&agrave;o &dstrok;&acirc;y
      |         
      #rec107157276.r.t-rec.t-rec_pt_0.t-rec_pb_0(style='padding-top:0px;padding-bottom:0px;background-color:#0d0d0d; ', data-record-type='56', data-bg-color='#0d0d0d')
        // T046
        .t046
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t046__text.t-text.t-text_xs(style='', field='text')
                div(style='color:#9d9d9d;', data-customstyle='yes')
                  | B&#x1EA3;n quy&#x1EC1;n thu&#x1ED9;c v&#x1EC1; Quoc Hung Bui
                  br
    |     
    script(type='text/javascript').
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, '589de8118390cf06dce5be0604916d94', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
    | &#x9;
    script(src='/socket.io/socket.io.js')
    | &#x9;
    script.
      var socket = io.connect('http://localhost');
      $(document).ready(function(){
      });
