doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // metatextblock
    title Điều khoản - School market
    // /metatextblock
    meta(property="fb:app_id" content="257953674358265")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-dns-prefetch-control" content="on")
    link(rel='shortcut icon', href='/ico/eco.png', type='image/x-icon')
    // Assets
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://tilda.ws/project1468220/tilda-blocks-2.12.css?t=1562682786" type="text/css" media="all")
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" type="text/css")
    script(src="https://static.tildacdn.com/js/jquery-1.10.2.min.js")
    script(src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js")
    script(src="https://tilda.ws/project1468220/tilda-blocks-2.7.js?t=1562682786")
    script(src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8")
    script(src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
    script(type="text/javascript").
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style="margin:0;")
    // allrecords
    #allrecords.t-records(data-hook="blocks-collection-content-node" data-tilda-project-id="1468220" data-tilda-page-id="6475979" data-tilda-page-alias="policy" data-tilda-formskey="7f592b368f4578fc0ac806a95444793d")
      #rec114669948.r.t-rec(style="background-color:#ffffff; " data-animationappear="off" data-record-type="257" data-bg-color="#ffffff")
        // T228
        #nav114669948marker
        #nav114669948.t228.t228__positionfixed(style="background-color: rgba(255,255,255,0.70); height:75px; box-shadow: 0px 1px 3px rgba(0,0,0,0.30);" data-bgcolor-hex="#ffffff" data-bgcolor-rgba="rgba(255,255,255,0.70)" data-navmarker="nav114669948marker" data-appearoffset="" data-bgopacity-two="" data-menushadow="30" data-bgopacity="0.70" data-menu-items-align="right" data-menu="yes")
          .t228__maincontainer(style="height:75px;")
            .t228__padding40px
            .t228__leftside
              .t228__leftcontainer
                a.t228__logo.t-title(href = '/' field="title" style="color:#000000;font-weight:600;") School Market
            .t228__centerside.t228__menualign_right
              .t228__centercontainer
                ul.t228__list
                  li.t228__list_item
                    a.t-menu__link-item(href="/market/all" style="color:#000000;font-weight:600;" data-menu-item-number="1") Thị trường
                  li.t228__list_item
                    a.t-menu__link-item(href="/faqs" style="color:#000000;font-weight:600;" data-menu-item-number="2") FAQs
                  li.t228__list_item
                    a.t-menu__link-item(href="/terms" style="color:#000000;font-weight:600;" data-menu-item-number="3") Điều khoản
                  if (isLog)  
                    li.t228__list_item
                      a.t-menu__link-item(href="/terms" style="color:#000000;font-weight:600;" data-menu-item-number="4") Bảng điều khiển
                    li.t228__list_item
                      a.t-menu__link-item(href="/user/logout" style="color:#000000;font-weight:600;" data-menu-item-number="5") Đăng xuất
                  else
                    li.t228__list_item
                      a.t-menu__link-item(href="/user/login" style="color:#000000;font-weight:600;" data-menu-item-number="5") Đăng nhập
            .t228__rightside
              .t228__rightcontainer
                .t228__right_social_links
                  .t228__right_social_links_wrap
                    .t228__right_social_links_item
                      a(href="https://www.facebook.com/qhung.12.7" target="_blank")
                        svg#Layer_1(style="fill:#000000;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewbox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve")
                          path(d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76 C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427 h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z")
            .t228__padding40px
        script(type="text/javascript").
          $(document).ready(function() {
          t228_highlight();
          t228_checkAnchorLinks('114669948');
          });
          $(window).resize(function() {
          t228_setBg('114669948');
          });
          $(document).ready(function() {
          t228_setBg('114669948');
          });
        //if IE 8
          style.
            #rec114669948 .t228 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffffff', endColorstr='#D9ffffff');
            }
      #rec114669949.r.t-rec(style=" " data-animationappear="off" data-record-type="18")
        // cover
        #recorddiv114669949.t-cover(bgimgfield="img" style="height:100vh; background-image:url('https://static.tildacdn.com/tild3531-3764-4234-b133-616130393365/-/resize/20x/ecommerce-1485586975.jpg');")
          #coverCarry114669949.t-cover__carrier(data-content-cover-id="114669949" data-content-cover-bg="https://static.tildacdn.com/tild3531-3764-4234-b133-616130393365/ecommerce-1485586975.jpg" data-content-cover-height="100vh" data-content-cover-parallax="" style="height:100vh;background-attachment:scroll; ")
          .t-cover__filter(style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000', endColorstr='#4c000000');")
          .t-container
            .t-col.t-col_12
              .t-cover__wrapper.t-valign_middle(style="height:100vh;")
                .t001.t-align_center
                  .t001__wrapper(data-hook-content="covercontent")
                    .t001__uptitle.t-uptitle.t-uptitle_sm.t-animate(data-animate-style="fadein" data-animate-group="yes" style="" field="subtitle") SCHOOL MARKET
                    .t001__title.t-title.t-title_xl.t-animate(data-animate-style="fadeinup" data-animate-group="yes" style="" field="title") ĐIỀU KHOẢN
                    span.space
          // arrow
          .t-cover__arrow
            .t-cover__arrow-wrapper.t-cover__arrow-wrapper_animated
              .t-cover__arrow_mobile
                svg.t-cover__arrow-svg(style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewbox="0 0 38.417 18.592")
                  g
                    path(d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z")
          // arrow
      #rec114669950.r.t-rec.t-rec_pt_30.t-rec_pb_30(style="padding-top:30px;padding-bottom:30px; " data-record-type="219")
        // T191
        .t191
          .t-align_center
            hr.t191__line.t-width.t-width_2(style="background-color:#000000;opacity:0.2;")
      #rec114670706.r.t-rec.t-rec_pt_120.t-rec_pb_30(style="padding-top:120px;padding-bottom:30px; " data-record-type="60")
        // T050
        .t050
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t050__uptitle.t-uptitle.t-uptitle_sm.t-animate(data-animate-style="fadein" data-animate-group="yes" field="subtitle" style="text-transform:uppercase;")
                | school market
                br
              .t050__title.t-title.t-title_xxl.t-animate(data-animate-style="fadeinup" data-animate-group="yes" field="title" style="")
                div(style="font-size:42px;" data-customstyle="yes") Điều khoản dịch vụ
              .t050__descr.t-descr.t-descr_xxl.t-animate(data-animate-style="fadeindown" data-animate-group="yes" field="descr" style="")
                div(style="text-align:left;" data-customstyle="yes")
                  | Chào mừng bạn đến với School market !
                  br
                  | Các Điều khoản này điều chỉnh việc bạn sử dụng School market và các sản phẩm, tính năng, ứng dụng, dịch vụ, mà chúng tôi cung cấp.
                  br
      #rec114671979.r.t-rec.t-rec_pt_120.t-rec_pb_120(style="padding-top:120px;padding-bottom:120px; " data-record-type="673")
        // t673
        .t673
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t673__textwrapper.t-animate(data-animate-style="fadeindown" style="border:5px solid #fac720;")
                div(style="margin-left:-5px;")
                  .t673__text.t-heading.t-heading_md(field="text" style="color:#ffd240;")
                    strong School Market 
                    strong
                    strong là một trang 
                    strong thương mai điện tử 
                    strong dành cho học sinh
                    strong , 
                    strong nơi mà 
                    strong ai cũng có thể kinh doanh 
                    strong một 
                    strong cách tiện lợi nhất. 
                    strong B
                    strong ất cứ ý tưởng táo bạo, đột phá 
                    strong nào cũng có thể trở thành hiện thực.
                    br
      #rec114703943.r.t-rec.t-rec_pt_30.t-rec_pb_30(style="padding-top:30px;padding-bottom:30px; " data-record-type="219")
        // T191
        .t191
          .t-align_center
            hr.t191__line.t-width.t-width_2(style="background-color:#000000;opacity:0.2;")
      #rec114671532.r.t-rec.t-rec_pt_150.t-rec_pb_30(style="padding-top:150px;padding-bottom:30px; " data-record-type="565")
        // T565
        .t565
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style="fadein" data-animate-group="yes" field="btitle") Cam kết của bạn với chúng tôi
                .t-section__descr.t-descr.t-descr_xl.t-margin_auto.t-animate(data-animate-style="fadeinup" data-animate-group="yes" field="bdescr") Đây là các cam kết bạn cần phải đảm bảo thực hiện khi sử dụng school market
          .t-container.t565__container
            .t565__item
              .t-width.t-width_8.t565__mainblock
                .t565__col
                  .t565__linewrapper.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="1")
                    .t565__line(style="width: 2px;background-color:#000000;")
                    .t565__circle(style=" border-width: 2px; ")
                      .t565__number.t-name.t-name_md(style="") 1
                  .t565__block.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
                    .t565__title.t-name.t-name_lg(field="li_title__1479137044697" style="") Đối tượng có thể sử dụng dịch vụ
                    .t565__descr.t-text.t-text_xs(field="li_descr__1479137044697" style="")
                      div(style="text-align:left;" data-customstyle="yes")
                        | Khi kinh doanh, khách hàng của bạn cần biết chính xác bạn là ai, cho nên
                        ul
                          li
                            | Cung cấp thông tin chính xác về bản thân.
                            br
                          li
                            | Chỉ tạo duy nhất một tài khoản (của chính bạn) và sử dụng dòng thời gian vào các mục đích cá nhân.
                            br
                          li
                            | Không chia sẻ mật khẩu, cấp cho người khác quyền truy cập vào tài khoản của bạn hoặc chuyển tài khoản của bạn cho bất kỳ ai khác
                            br
                        ul
                          li
                            | Trường hợp sử dụng tài khoản của bạn để kinh doanh trên danh nghĩa người khác hoặc không muốn tạo tài khoản khi mua hàng thì đã có form điền thông tin chính xác để giao dịch trở nên thuận tiện hơn
                        | Bạn sẽ không được sử dụng School market nếu
                        br
                        ul
                          li Bạn không thuộc trường học mà dự án đang hoạt động 
                          li
                            | Trước đây, chúng tôi đã vô hiệu hóa tài khoản của bạn vì vi phạm các điều khoản của chúng tôi.
                            br
                          li
                            | Bạn bị chặn sử dụng các sản phẩm, dịch vụ hoặc phần mềm của chúng tôi theo luật áp dụng.
            .t565__item
              .t-width.t-width_8.t565__mainblock
                .t565__col.t565__flipped
                  .t565__linewrapper.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="1")
                    .t565__line(style="width: 2px;background-color:#000000;")
                    .t565__circle(style=" border-width: 2px; ")
                      .t565__number.t-name.t-name_md(style="") 2
                  .t565__block-flipped.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
                    .t565__title.t-name.t-name_lg(field="li_title__1479137790652" style="")
                      div(style="text-align:left;" data-customstyle="yes") Những điều bạn không được làm trên School market
                    .t565__descr.t-text.t-text_xs(field="li_descr__1479137790652" style="")
                      div(style="text-align:left;" data-customstyle="yes")
                        ul
                          li Vi phạm các điểu khoản, chính sách
                          li Xâm phạm hoặc vi phạm quyền của người khác.
                          li
                            | Không được truy cập hoặc thu thập dữ liệu từ sản phẩm của chúng tôi dưới mọi hình thức một cách hàng loạt và tự động (không được chúng tôi cho phép trước) hoặc cố gắng truy cập dữ liệu mà bạn không được phép truy cập.
            .t565__item
              .t-width.t-width_8.t565__mainblock
                .t565__col
                  .t565__linewrapper.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="1")
                    .t565__line(style="width: 2px;background-color:#000000;")
                    .t565__circle(style=" border-width: 2px; ")
                      .t565__number.t-name.t-name_md(style="") 3
                  .t565__block.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
                    .t565__title.t-name.t-name_lg(field="li_title__1479137793455" style="")
                      | Những quyền bạn cấp cho chúng tôi
                      br
                    .t565__descr.t-text.t-text_xs(field="li_descr__1479137793455" style="")
                      div(style="text-align:left;" data-customstyle="yes")
                        ul
                          li
                            | Quyền sử dụng nội dung bạn tạo và chia sẻ : Để chúng tôi cung cấp dịch vụ, bạn cần cấp cho chúng tôi một số quyền pháp lý để sử dụng nội dung đó.
                          li
                            | Quyền sử dụng các thông tin cá nhân của bạn ở mức hợp lý để giúp bạn và đối tác của bạn trải nghiệm một cách tốt nhất các dịch vụ của chúng tôi
            .t565__item
              .t-width.t-width_8.t565__mainblock
                .t565__col.t565__flipped
                  .t565__linewrapper.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="1")
                    .t565__line(style="width: 2px;background-color:#000000;")
                    .t565__circle(style=" border-width: 2px; ")
                      .t565__number.t-name.t-name_md(style="") 4
                  .t565__block-flipped.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
                    .t565__title.t-name.t-name_lg(field="li_title__1562498560564" style="") Giới hạn trách nhiệm pháp lý
                    .t565__descr.t-text.t-text_xs(field="li_descr__1562498560564" style="")
                      div(style="text-align:left;" data-customstyle="yes")
                        ul
                          li
                            | Chúng tôi nỗ lực cung cấp sản phẩm tốt nhất có thể và định ra các nguyên tắc rõ ràng cho tất cả những người sử dụng. Tuy nhiên, sản phẩm của chúng tôi được cung cấp "nguyên trạng" và chúng tôi không đảm bảo rằng sản phẩm luôn an toàn, bảo mật, không có lỗi hoặc sản phẩm sẽ hoạt động mà không bị gián đoạn, chậm trễ hoặc thiếu sót. Trong phạm vi luật pháp cho phép, chúng tôi cũng TỪ CHỐI MỌI BẢO ĐẢM, DÙ RÕ RÀNG HAY NGỤ Ý, BAO GỒM CÁC BẢO ĐẢM NGỤ Ý VỀ KHẢ NĂNG TIÊU THỤ, SỰ PHÙ HỢP VỚI MỘT MỤC ĐÍCH CỤ THỂ, BẢO ĐẢM VỀ QUYỀN SỞ HỮU MẶT HÀNG
      #rec114675428.r.t-rec.t-rec_pt_0.t-rec_pb_60(style="padding-top:0px;padding-bottom:60px; " data-record-type="372")
        // T372
        .t372
          .t-container
            .t-col.t-col_12.t-animate(data-animate-style="fadein")
              .t372__line(style="")
              .t372__text.t-text.t-text_md.t-text_weight_plus(field="text" style="")
                div(style="font-size:20px;line-height:26px;text-align:left;" data-customstyle="yes")
                  | Chúng tôi có thể xóa nội dung bạn chia sẻ khi bạn vi phạm các quy định này. Tùy vào mức độ, chúng tôi có thể áp dụng các biện pháp đối với tài khoản của bạn với những điều khoản trên mà không có bất kì thông báo gì. Hãy tự xem lại hành vi và tự rút ra kết luận .
                  br
                  | Nhằm mục đích hỗ trợ cộng đồng, chúng tôi khuyến khích bạn báo cáo lên quản trị viên hành vi mà bạn cho rằng vi phạm các điều khoản ( bao gồm quyền sỡ hữu trí tuệ ) hoặc FAQ của chúng tôi.
      #rec114703928.r.t-rec.t-rec_pt_30.t-rec_pb_30(style="padding-top:30px;padding-bottom:30px; " data-record-type="219")
        // T191
        .t191
          .t-align_center
            hr.t191__line.t-width.t-width_2(style="background-color:#000000;opacity:0.2;")
      #rec114669965.r.t-rec.t-rec_pt_15.t-rec_pb_15(style="padding-top:15px;padding-bottom:15px;background-color:#000000; " data-animationappear="off" data-record-type="56" data-bg-color="#000000")
        // T046
        .t046
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t046__text.t-text.t-text_xs(style="" field="text")
                span(style="color: rgb(147, 147, 147);") Bản quyền thuộc về Quoc Hung Bui
                br
    // /allrecords
    // Tilda copyright. Don't remove this line
    // Stat
    script(type="text/javascript").
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, '6eece8d45472ae04fb54d3e0d6e76794', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');